  <td  rowspan="2" class="workregist" >
    <% if engineorder.inquiry? %>
      <%= link_to t("views.link_inquiry"), edit_inquery_path(engineorder) , class: "workregist_work" %>
    <% else %>
      <%= t("views.link_inquiry") %>
    <% end %>
  </td>

  <td  rowspan="2" class="workregist" >
    <% if engineorder.inquiry? || engineorder.ordered? %>
      <%= link_to t("views.link_ordered"), ordered_path(engineorder), class: "workregist_work" %>
    <% else %>
      <%= t("views.link_ordered") %>
    <% end %>
  </td>

  <td  rowspan="2" class="workregist" >
    <% if engineorder.inquiry? %>
      <% # なにも表示しない %>
    <% elsif engineorder.ordered? %>
      <% if current_user.yesOffice? || current_user.systemAdmin? %>
        <%= link_to t("views.link_allocated"), allocated_path(engineorder), class: "workregist_work" %>
      <% end %>
    <% elsif engineorder.shipping_preparation? %>
      <% if current_user.yesBranch? %>
        <%= link_to t("views.link_allocated"), allocated_path(engineorder), class: "workregist_work" %>
      <% else %>
        <%= t("views.link_allocated") %>
      <% end %>
    <% else %>
      <%= t("views.link_allocated") %>
    <% end %>
  </td>
  
  <td  rowspan="2" class="workregist" >
    <% if engineorder.shipping_preparation? %>
      <% if current_user.systemAdmin? %>
        <%= link_to t("views.link_shipped"), shipped_path(engineorder), class: "workregist_work" %>
      <% end %>
    <% elsif engineorder.shipped? || engineorder.returned? %>
      <%= t("views.link_shipped") %>
    <% end %>
  </td>

  <td  rowspan="2" class="workregist" >
    <% if engineorder.shipped? || engineorder.returned? %>
      <%= link_to t("views.link_returning"), returning_path(engineorder), class: "workregist_work" %>
    <% end %>
  </td>
  
  <td  rowspan="2" class="workregist" >
    <%= link_to t("views.link_show"), engineorder, class: "workregist_show"  %>
  </td>

  <td  rowspan="2" class="workregist" >
    <% if current_user.systemAdmin? %>
      <%= link_to t("views.link_edit"), edit_engineorder_path(engineorder), class: "workregist_edit"  %>
    <% end %>
  </td>

  <td  rowspan="2" class="workregist">
   <% if engineorder.inquiry? %>
     <% if current_user.yesBranch? || current_user.systemAdmin? %>
      <%= link_to t("views.link_destroy"), engineorder, method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "workregist_del" %>
      <% end %>
    <% end %>
  </td>

