<h1>流通一覧</h1>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th rowspan="2" class="vtop"><%= Engineorder.human_attribute_name('businessstatus_id') %></th>
      <th rowspan="2" class="vtop"><%= Engineorder.human_attribute_name('title') %></th>
      <th rowspan="2" class="vtop"><%= Engineorder.human_attribute_name('install_place_id') %></th>
      <th rowspan="2" class="vtop"><%= Engineorder.human_attribute_name('issue_no') %></th>

      <th><%= Engineorder.human_attribute_name('inquiry_date') %></th>
      <th><%= Engineorder.human_attribute_name('desirable_delivery_date') %></th>
      <th><%= Engineorder.human_attribute_name('order_date') %></th>
      <th><%= Engineorder.human_attribute_name('allocated_date') %></th>
      <th><%= Engineorder.human_attribute_name('shipped_date') %></th>
      <th><%= Engineorder.human_attribute_name('returning_date') %></th>
      <% if current_user.yesOffice? || current_user.systemAdmin? %>
        <th colspan=8 rowspan=2>作業登録</th> <!-- YES本社の人の作業数だけ列を繋げる -->
      <% elsif current_user.yesBranch? %>
        <th colspan=7 rowspan=2>作業登録</th> <!-- YES拠点の人の作業数だけ列を繋げる -->
      <% end %>
</tr>
<tr>
      <th><%= Engineorder.human_attribute_name('old_engine_id') %></th>
      <th><%= Engineorder.human_attribute_name('new_engine_id') %></th>
      <th colspan=2><%= Engineorder.human_attribute_name('branch_id') %></th>
      <th colspan=2><%= Engineorder.human_attribute_name('sending_place_id') %></th>
</tr>
  </thead>

  <tbody>
    <% @engineorders.each do |engineorder| %>
      <tr>
        <td rowspan="2" class="vtop"><%= engineorder.status.name %></td>
        <td rowspan="2" class="vtop"><%= engineorder.title %></td>
        <td rowspan="2" class="vtop"><%= Place.find(engineorder.install_place_id).name unless engineorder.install_place_id.nil? %></td>
        <td rowspan="2" class="vtop"><%= engineorder.issue_no %></td>

        <td><%= engineorder.inquiry_date %></td>
        <td><%= engineorder.desirable_delivery_date %></td>
        <td><%= engineorder.order_date %></td>
        <td><%= engineorder.allocated_date %></td>
        <td><%= engineorder.shipped_date %></td>
        <td><%= engineorder.returning_date %></td>
        
        <%= render "indexlink" , engineorder: engineorder %>
</tr>
<tr> 
        <td>
          <%= Engine.find(engineorder.old_engine_id).engine_model_name unless engineorder.old_engine_id.nil?%></br>
          <%= '('+Engine.find(engineorder.old_engine_id).serialno+')'  unless engineorder.old_engine_id.nil?%>
        </td>
        <td>
          <%= Engine.find(engineorder.new_engine_id).engine_model_name unless engineorder.new_engine_id.nil?%></br>
          <%= '('+Engine.find(engineorder.new_engine_id).serialno+')'  unless engineorder.new_engine_id.nil?%>
          </td>
        <td colspan=2><%= Company.find(engineorder.branch_id).name unless engineorder.branch_id.nil? %></td>
        <td colspan=2><%= Place.find(engineorder.sending_place_id).name unless engineorder.sending_place_id.nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @engines, :previous_label=>'≪前', :next_label=>'次≫' %>
<br>
<br>
<%= link_to '新規引合',  :controller => "engineorders", :action => "inquiry" %>
<br>
<br>
<%= link_to t('views.link_back'), root_path %>
