<%= javascript_include_tag "location" %>

<h1>引合登録</h1>

<%= form_for(@engineorder) do |f| %>

  <%= render "errormsg" , modeldata: @engineorder %>

  <div class="field">
    <%= f.label :registered_user_id %>：
    <% if @engineorder.registered_user_id.nil? %>
      <% @engineorder.registered_user_id = current_user.id  %>
    <% end %>
      <%=  User.find(@engineorder.registered_user_id).name  %>
    <%= f.hidden_field :registered_user_id %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :inquiry_date %><br>
    <%= f.date_select :inquiry_date, :use_month_numbers => true %>
  </div>

  <%= render "location", {f: f, attr_name: "branch", location: @engineorder.branch } %>

  <div class="field">
    <%= f.label :salesman_id %><br>
   <%= f.collection_select( :salesman_id, User.all, :id, :name, :include_blank => false ) %>
  </div>

  <%= render "location", {f: f, attr_name: "install_place", location: @engineorder.install_place } %>

  <div class="field">
    <%= f.label :orderer %><br>
    <%= f.text_field :orderer %>
  </div>

  <div class="field">
    <%= f.label "販売型式" %><br>
  </div>


  <div class="field">
    <%= f.label :old_engine_id %><br>
    <%= f.collection_select( :old_engine_id, Engine.all, :id, :engine_name, :include_blank => true ) %>
  </div>


  <div class="field">
    <%= f.label :time_of_running %><br>
    <%= f.number_field :time_of_running %>
  </div>

  <div class="field">
    <%= f.label :day_of_test %><br>
    <%= f.date_select :day_of_test, :include_blank => true, :use_month_numbers => true, :start_year => Engine::EARLIEST_START_YEAR %>
  </div>

  <div class="field">
    <%= label_tag t('views.label_runningyear') %><br>
    <%= @engineorder.calcRunningYear %>
  </div>
  
  <div class="field">
    <%= f.label :change_comment %><br>
    <%= f.text_area :change_comment %>
  </div>


  <div class="field">
    <%= f.label :desirable_delivery_date %><br>
    <%= f.date_select :desirable_delivery_date, :use_month_numbers => true %>
  </div>


  <%= f.hidden_field :businessstatus_id %>

  <div class="actions">
    <%= f.submit  :value => t('views.buttun_inquiry') %>
  </div>
<% end %>

<%= link_to 'Back', engineorders_path %>
