<%= form_for(@enginestatus) do |f| %>

  <%= render "errormsg" , modeldata: @enginestatus %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
