<p>
  <strong>会社名:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>分類:</strong>
  <%= @company.category %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @company.postcode %>
</p>

<p>
  <strong>住所:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @company.phone_no %>
</p>

<p>
  <strong>宛先:</strong>
  <%= @company.destination_name %>
</p>

<%= link_to '編集', edit_company_path(@company) %> |
<%= link_to '戻る', companies_path %>
