<h1>整備作業一覧</h1>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>ステータス</th>
      <th>依頼No</th>
      <th>整備依頼日</th>
      <th>完成希望日</th>
      <th>整備開始日</th>
      <th>整備完了日</th>
      <!--
      <th>出荷日</th>
      -->
      <th>エンジン型式</th>
      <th>エンジンNo.</th>
    </tr>
  </thead>

  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.engine.status.name %></td>
        <td><%= repair.order_no %></td>
        <td><%= repair.order_date %></td>
        <td><%= repair.desirable_finish_date %></td>
        <td><%= repair.start_date %></td>
        <td><%= repair.finish_date %></td>
        <!--
        <td><%= repair.shipped_date %></td>
        -->
        <td><%= repair.engine.engine_model_name %></td>
        <td><%= repair.engine.serialno %></td>
        <% if current_user.yes? %>
          <td>
            <%= link_to '依頼', order_repair_path(repair) %>
          </td>
        <% end %>
        <td><%= link_to '開始', start_repair_path(repair) %></td>
        <td><%= link_to '完了', finish_repair_path(repair) %></td>
     <% if repair.engine.before_shipping? %>
          <td>
            <%= link_to '出荷', shipped_path(repair.engine.current_order_as_new) %>
          </td>
        <% end %>

        <% if current_user.yesOffice? %>
          <td><%= link_to '詳細', repair %></td>
          <td><%= link_to '訂正', edit_repair_path(repair) %></td>
          <td><%= link_to '削除', repair, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @repairs, :previous_label=>'≪前', :next_label=>'次≫' %>
<br>
