<h1><%= t('views.title_repairs_index_purchase') %></h1>

<h3>検索条件</h3>

<div class="well">
  <%= form_tag purchase_repairs_path, :method => :get do %>
    <table>
      <tr>
        <td>仕入月度　</td>
        <td width="90%">
          <%= date_select :search, :purchase_month, start_year: (Date.today.year - 2), end_year: Date.today.year, discard_day: true,
                                                   default: {year: @searched[:"purchase_month(1i)"], month: @searched[:"purchase_month(2i)"]}  %>
        </td>
      </tr>
    </table>
    <br>
    <%= submit_tag "検索" %>
  <% end %>
  <div>
    <p>合計仕入価格：<%= number_with_delimiter(@total_price) %> 円</p>
  </div>
</div>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= Repair.human_attribute_name(:order_no) %></th>
      <th><%= Repair.human_attribute_name(:purachase_date) %></th>
      <th><%= Engine.human_attribute_name(:engine_model_name) %></th>
      <th><%= Engine.human_attribute_name(:serialno) %></th>
      <th><%= Repair.human_attribute_name(:purachase_price) %></th>
      <th class="workregist">詳細情報</th>
    </tr>
  </thead>

  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.order_no %></td>
        <td><%= repair.purachase_date %></td>
        <td><%= repair.engine.engine_model_name %></td>
        <td><%= repair.engine.serialno %></td>
        <td><%= repair.purachase_price %></td>
        <td class="workregist"><%= link_to t('views.link_show'), repair, class: 'workregist_show' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>※当月のみ仕入修正・戻しが可能です</p>

<% unless @repairs.empty? %>
  <%= link_to t('views.link_csv_export'), purchase_repairs_path(format: 'csv') %>
<% end %>

<br>
<%= will_paginate @repairs, :previous_label=>'≪前', :next_label=>'次≫' %>
<br>
<br>
<%= link_to t('views.link_back'), root_path %>
