<h1>整備開始</h1>

<%= form_for(@repair) do |f| %>

  <%= render "errormsg" , modeldata: @repair %>


<div class="row">
  <div class="col-md-4">
  <%= render 'engineInfo' %>
  <% disabled_data = getDisabled_RepairStarted %>
<br>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date, :use_month_numbers => true, :start_year => 2000 %>
  </div>
  <div class="field">
    <%= f.label :estimated_finish_date %><br>
    <%= f.date_select :estimated_finish_date, :use_month_numbers => true, :start_year => 2000 %>
  </div>
  <div class="field">
    <%= f.label :before_comment %><br>
    <%= f.text_area :before_comment %>
  </div>
  <div class="actions">
    <br>
    <%= f.submit :value => t('views.buttun_repairStarted'), :confirm => t('views.buttun_repairStarted')+t('views.confirm_msg') %>
  </div>
  <br>
  <%= link_to t('views.link_back'), anchor_path %>
</div>

  <div class="well col-md-8">
  <div class="field">
    <%= f.label :order_no %><br>
    <%= f.text_field :order_no, :disabled=> true %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.text_field :order_date, :disabled=> true %>
  </div>


<% if false %>
  <div class="field">
    <%= f.label :order_no %><br>
    <%= f.text_field :order_no, :use_month_numbers => true, :disabled=> disabled_data[:order_no] %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.date_select :order_date, :use_month_numbers => true, :disabled=> disabled_data[:order_date] %>
  </div>
<% end %>

  <div class="field">
    <%= f.label :construction_no %><br>
    <%= f.text_field :construction_no, :disabled=> disabled_data[:construction_no] %>
  </div>
  <div class="field">
    <%= f.label :desirable_finish_date %><br>
    <%= f.date_select :desirable_finish_date, :use_month_numbers => true, :disabled=>disabled_data[:desirable_finish_date], :start_year => 2000 %>
  </div>

  <div class="field">
    <%= label_tag 'コメント(交換理由)' %><br>
    <%= f.text_area :change_comment, :disabled=> true %>
  </div>

  <div class="field">
    <%= label_tag '整備依頼書' %><br>
    <% if @repair.requestpaper.present? %>
      <%= link_to "ダウンロード", requestpaper_path, class: "btn btn-xs btn-default" %>
    <% else %>
      ファイルなし
    <% end %>
  </div>
</div>
</div>
<% end %>
