<h1>整備依頼</h1>

<%= form_for(@repair) do |f| %>
  <%= render "errormsg" , modeldata: @repair %>

  <%= render 'engineInfo' %>
  <% disabled_data = getDisabled_RepairOrder %>

<br>

  <div class="field">
    <%= f.label :time_of_running %><br>
    <%= f.number_field :time_of_running, :disabled => disabled_data[:time_of_running]  %>
  </div>
  <div class="field">
    <%= f.label :day_of_test %><br>
    <%= f.date_select :day_of_test, :include_blank => true, :use_month_numbers => true, :start_year => Engine::EARLIEST_START_YEAR, :disabled => disabled_data[:day_of_test] %>
  </div>
  
  <div class="field">
    <%= label_tag t('views.label_runningyear') %><br>
    <%= @repair.calcRunningYear %>
  </div>

  <div class="field">
    <%= label_tag 'コメント(交換理由)' %><br>
    <%= f.text_area :change_comment, :disabled=> true %>
  </div>

  <div class="field">
    <%= f.label :arrive_date %><br>
    <%=  f.date_select :arrive_date, :use_month_numbers => true, :disabled=>disabled_data[:arrive_date] %>
  </div>

  <div class="field">
    <%= f.label :order_no %><br>
    <%= f.text_field :order_no, :disabled=> true %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.text_field :order_date, :disabled=> true %>
  </div>

  <div class="field">
    <%= f.label :construction_no %><br>
    <%= f.text_field :construction_no, :disabled=>disabled_data[:construction_no] %>
  </div>
  <div class="field">
    <%= f.label :desirable_finish_date %><br>
    <%= f.date_select :desirable_finish_date, :use_month_numbers => true, :disabled=>disabled_data[:desirable_finish_date] %>
  </div>

  <% if current_user.yesOffice? %>
    <div class="actions">
      <%= f.submit  :value => t('views.buttun_repairOrdered') %>
    </div>
  <% end %>
<%= link_to t('views.link_back'), repairs_path %>

<% end %>

