<h1>整備完了</h1>

<%= form_for(@repair) do |f| %>
  <%= render "errormsg" , modeldata: @repair %>

<div class="row">
  <div class="col-md-4">
  <%= render 'engineInfo' %>
  <% disabled_data = getDisabled_RepairFinished %>

<br>

  <div class="field">
    <%= f.label :finish_date %><br>
    <%= f.date_select :finish_date, :use_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label :after_comment %><br>
    <%= f.text_area :after_comment %>
  </div>
  <div class="actions">
    <%= f.submit  :value => t('views.buttun_repairFinished') %>
  </div>
<%= link_to t('views.link_back'), repairs_path %>
</div>
<div class="well col-md-8">
 <div class="field">
    <%= f.label :order_no %><br>
    <%= f.text_field :order_no, :disabled=> true %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.text_field :order_date, :disabled=> true %>
  </div>
<% if false %>
  <div class="field">
    <%= f.label :order_no %><br>
    <%= f.text_field :order_no, :disabled=> disabled_data[:order_no] %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.text_field :order_date, :disabled=> disabled_data[:order_date] %>
  </div>
<% end %>
  <div class="field">
    <%= f.label :construction_no %><br>
    <%= f.text_field :construction_no, :disabled=> disabled_data[:construction_no] %>
  </div>
  <div class="field">
    <%= f.label :desirable_finish_date %><br>
    <%= f.date_select :desirable_finish_date, :use_month_numbers => true, :disabled=>disabled_data[:desirable_finish_date] %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date, :use_month_numbers => true, :disabled=>disabled_data[:start_date] %>
  </div>
  <div class="field">
    <%= f.label :estimated_finish_date %><br>
    <%= f.date_select :estimated_finish_date, :use_month_numbers => true, :disabled=>disabled_data[:estimated_finish_date] %>
  </div>
  <div class="field">
    <%= f.label :before_comment %><br>
    <%= f.text_area :before_comment, :disabled=>disabled_data[:before_comment] %>
  </div>
  </div>
  </div>
<% end %>
