<%= form_for(@charge) do |f| %>
  <% if @charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

      <ul>
      <% @charge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :charge_flg %><br>
    <%= f.check_box :charge_flg %>
  </div>
  <div class="field">
    <%= f.label :charge_price %><br>
    <%= f.number_field :charge_price %>
  </div>
  <div class="field">
    <%= f.label :charge_comment %><br>
    <%= f.text_field :charge_comment %>
  </div>
  <div class="field">
    <%= f.label :repair_id %><br>
    <%= f.text_field :repair_id %>
  </div>
  <div class="field">
    <%= f.label :engine_id %><br>
    <%= f.text_field :engine_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
