<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @place.category %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @place.postcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @place.phone_no %>
</p>

<p>
  <strong>Destination name:</strong>
  <%= @place.destination_name %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
